body {
  font-family: 'Inter', sans-serif;
  background-color: #C9F7E9;
  margin: 0;
  padding: 0;
  color: #32965D;
}

h1 {
  color: #2c3e50;
  text-align: center;
  margin-top: 20px;
  font-weight: 600;
}

.graph-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  padding: 10px;
  max-width: 90%;
}

iframe {
  border-radius: 12px;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

iframe:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}

@media (min-width: 768px) {
  iframe {
    width: 500px;
    height: 250px;
  }
}

@media (max-width: 768px) {
  iframe {
    width: 100%;
    height: 200px;
  }
}